[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "debugr"]
	path = debugr
	url = https://github.com/jsugarelli/debugr
[submodule "flatxml"]
	path = flatxml
	url = https://github.com/jsugarelli/flatxml
[submodule "packagefinder"]
	path = packagefinder
	url = https://github.com/jsugarelli/packagefinder
[submodule "pointr"]
	path = pointr
	url = https://github.com/jsugarelli/pointr
[submodule "refreshr"]
	path = refreshr
	url = https://github.com/jsugarelli/refreshr
[submodule "shinyfilter"]
	path = shinyfilter
	url = https://github.com/jsugarelli/shinyfilter
[submodule "switchcase"]
	path = switchcase
	url = https://github.com/jsugarelli/switchcase
[submodule "typehint"]
	path = typehint
	url = https://github.com/jsugarelli/typehint
[submodule "xml2relational"]
	path = xml2relational
	url = https://github.com/jsugarelli/xml2relational
[submodule "xmlconvert"]
	path = xmlconvert
	url = https://github.com/jsugarelli/xmlconvert
[submodule "xplain"]
	path = xplain
	url = https://github.com/jsugarelli/xplain
